
.color {
    @include map($colors) using ($color) {
        color: $color;
    }
    @include sizes {
        @include map($colors) using ($color) {
            color: $color;
        }
    }
}

.bg {
    @include map($colors) using ($color) {
        background-color: $color;
    }
    @include sizes {
        @include map($colors) using ($color) {
            background-color: $color;
        }
    }
}

$text-colors: (
    'light': $text-light,
    'dark': $text-dark,
    'gray': $text-gray,
);

.text {
    @include map($text-colors) using ($color) {
        color: $color;
    }
}