
.color {
    @include map($colors) using ($color) {
        color: $color;
    }
    @include sizes {
        @include map($colors) using ($color) {
            color: $color;
        }
    }
}

.bg {
    @include map($colors) using ($color) {
        background-color: $color;
    }
    @include sizes {
        @include map($colors) using ($color) {
            background-color: $color;
        }
    }
}