
.dropdown {
    .dropdown-toggle:hover {
        @include nounderline;
    }

    > .dropdown-menu {
        list-style-type: none;
        position: absolute;
        transform: translateY(8px);
        background-color: $light;
        border: 1px solid black;
        padding: 8px;
        border-radius: 4px;

        > *:not(:first-child) {
            margin-top: 8px;
        }

        &:not(.show) {
            display: none;
        }
    }
}
