* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 16px;
}

hr {
    margin-bottom: 16px;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover {
    @include underline;
}


ul, ol, p {
    margin-bottom: 8px;
}

p {
    max-width: 80ex;
}

ul {
    list-style-type: circle;
    > li {
        margin-left: 2rem;
    }
}

img {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

body {
    background-color: $light;
    color: $text-dark;

    > :not(.body) {
        flex-shrink: 0;
    }
    > .body {
        flex: 1 0 auto;
    }
}
