
button {
    padding: 3px;
    border-radius: 3px;
    border: 0px;
    background-color: $dark;
    color: $text-light;

    &:hover {
        background-color: darken($color-light, 20%);
        color: $text-dark;

        @include darkmode {
            background-color: lighten($color-dark, 10%);
        }
    }
}

textarea {
    padding: 4px;
    border-radius: 2px;
    border: 1px solid $dark;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding: 4px;

    &[type="text"] {
        border-radius: 2px;
        border: 1px solid $dark;
        font-family: Arial, Helvetica, sans-serif;
    }
}
