
.navbar {
    background-color: $color-dark;
    color: $text-color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    font-size: 1.25rem;

    * {
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        a {
            color: $text-color-light;

            &.active:hover {
                @include nounderline;
            }
        }
    }

    @include darkmode {
        background-color: darken($color-dark, 10%);
        color: $text-color-light;
    }

    > *:not(:last-child) {
        margin-bottom: 16px; 
    }

    @include size("sm") {
        flex-direction: row;

        > *:not(:last-child) {
            margin-right: 16px;
            margin-bottom: 0px;
        }
    }

    .nav-items {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        > li {
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        a {
            color: $text-color-light;

            &:hover {
                color: $text-gray;
            }
        }

        .active {
            color: $text-gray;

            &:hover {
                @include nounderline;
            }
        }

        @include size("sm") {
            flex-direction: row;

            > li:not(:last-child) {
                margin-right: 16px;
                margin-bottom: 0px;
            }
        }

    }
}