{%- extends "base.html" -%}

{%- block body -%}
  <ul class="path">
    <li><a href="/">Projects</a></li>
    <li>{{ project.project.metadata.name }}</li>
  </ul>
  <div class="float-overflow">
    {%- if metadata.socials -%}
      <div class="d-flex align-items-center">
        <h3 class="me-auto"><a href="{{ project.dest }}">{{ project.name }}</a></h3>
        {% for social in metadata.socials -%}
          <h3 class="me-4"><a href="{{ social.dest }}" target="_blank"><i class="{{ social.icon }}" title="{{ social.name }}"></i></a></h3>
        {%- endfor %}
      </div>
    {%- else -%}
      <h3 class="me-auto"><a href="{{ dest }}">{{ project.name }}</a></h3>
    {%- endif -%}

    {{ content | markdown | safe }}
    <hr>
    <h3>Updates</h3>
    {%- if project.updates -%}
      <ul>
        {% for update in project.updates -%}
          <li><a href="{{ update.dest }}">{{ update.pretty_date }} - {{ update.metadata.title }}</a></li>
        {%- endfor %}
      </ul>
    {%- endif -%}
    <p>
      <a href="updates/">See all updates</a>
    </p>
  </div>
{%- endblock body -%}