{%- extends "base.html" -%}

{%- block body -%}
  <ul class="path">
      <li><a href="/">Projects</a></li>
      <li><a href="{{ proj_dest }}">{{ proj_name }}</a></li>
      <li><a href="{{ update_dest }}">Updates</a></li>
      <li>{{ date }}</li>
  </ul>
  <div class="float-overflow">
    {%- if socials -%}
      <div class="d-flex align-items-center">
        <h3 class="me-auto"><a href="{{ dest }}">{{ name }}</a></h3>
        {% for social in socials -%}
          <h3 class="me-4"><a href="{{ social.dest }}" target="_blank"><i class="{{ social.icon }}" title="{{ social.name }}"></i></a></h3>
        {%- endfor %}
      </div>
    {%- else -%}
      <h3 class="me-auto"><a href="{{ dest }}">{{ name }}</a></h3>
    {%- endif -%}

    {{ body }}
  </div>
{%- endblock body -%}