{%- extends "base.html" -%}

{%- block body -%}
  <ul class="path">
      <li><a href="/">Projects</a></li>
      <li><a href="{{ project.dest }}">{{ project.project.metadata.name }}</a></li>
      <li><a href="{{ project.dest }}/updates/">Updates</a></li>
      <li>{{ update.pretty_date }}</li>
  </ul>
  <div class="float-overflow">
    {%- if metadata.socials -%}
      <div class="d-flex align-items-center">
        <h3 class="me-auto">{{ metadata.title }}</h3>
        {% for social in metadata.socials -%}
          <h3 class="me-4"><a href="{{ social.dest }}" target="_blank"><i class="{{ social.icon }}" title="{{ social.name }}"></i></a></h3>
        {%- endfor %}
      </div>
    {%- else -%}
      <h3 class="me-auto">{{ metadata.title }}</h3>
    {%- endif -%}

    {{ content | markdown | safe }}

    <hr class="my-5">

    <Comments id="{{ metadata.uuid }}" />
  </div>
{%- endblock body -%}