{%- extends "base.html" -%}

{%- block body -%}
  <ul class="path">
    <li><a href="/">Projects</a></li>
    <li><a href="{{ project.dest }}">{{ project.project.metadata.name }}</a></li>
    <li>Updates</li>
  </ul>

  <div class="d-flex align-items-center">
      <h2>{{ project.name }} - All Updates</h2>
      <h3 class="ms-auto" title="RSS Feed"><a href="feed.xml" target="_blank"><i class="fas fa-rss"></i></a></h3>
  </div>
  <hr>
  {% if project.updates.length > 0 -%}
    {%- for year, months in years -%}
      <h3>{{ year }}</h3>
      <div class="ms-5">
        {% for month, updates in months -%}
          <h4>{{ month }}</h4>
          <ul class="ms-5">
            {% for update in updates -%}
              <li><a href="{{ update.dest }}">{{ update.date }} - {{ update.metadata.title }}</a></li>
            {%- endfor %}
          </ul>
        {%- endfor %}
      </div>
    {%- endfor -%}
  {%- else -%}
    <p>There are no updates :/</p>
  {%- endif %}
</div>
{%- endblock body -%}